<body class="body_form">

  <!--
  ===================
  =========== bloc header document
  ===================
  -->
  <header>

    <!--
    ===================
    =========== navigation bar for telephone/tablet
    ===================
    -->
    <nav class="navebar-tel-tab" style="display:block;">
      <label class="label-chk" for="chk">&#9776;</label>
      <input type="checkbox" class="chk" name="chk" id="chk">
      <ul class="navebar-tel-tab--navigation">
        <li> <a href="sign_up.html">Sign Up </a></li>
        <li> <a href="album.html"> Visite </a></li>

      </ul>
    </nav>
  </header>

  <main>
    <section class="cadre">
      <%= link_to translate("signup"),new_user_path,style: "color: green;" %>
      <div class="text--center">
          <h1 class="gamma"><%=translate("login") %></h1>
      </div>
      <%= form_tag(sessions_path) do %>
      <% unless(flash[:alert].nil?) %>
        <div class="alert alert-danger" role="alert">
          <% flash.each do |name,message| %>
            <!-- display the "message" div once per message and ensure that flash[:name] is used as a dynamic CSS class -->
            <div class="<%= name %> flash_name"><%= message %></div>
          </div>
        <% end %>
      <% end %>
        <div class="input-group">

          <%= email_field_tag :mail,nil, class: 'input-group__field', placeholder: 'e.g. kanj@.com' %>

        </div>
        <div class="input-group">

          <%= password_field_tag :password,nil,class: 'input-group__field' %>
        </div>
        <div class="prompt">

          <%= submit_tag 'Log in', class: "btn btn--primary prompt__confirm" %>
        </div>
        <% end %>
    </section>
  </main>

  <div>
    <div class="progressBarControl__loadingControl" id="progressBarControl__loadingControl">
      <div class="progressBarControl__loading" id="progressBarControl__loading"> </div>
    </div>
    <div class="bloc_close_btn">
      <button class="btn" id="btn" type="button" name="button">CLOSE</button>
    </div>
  </div>


</body>

</html>
