<body class="body_form">

  <!--
  ===================
  =========== bloc header document
  ===================
  -->
  <header>

    <!--
    ===================
    =========== navigation bar for telephone/tablet
    ===================
    -->
    <nav class="navebar-tel-tab" style="display:block;">
      <label class="label-chk" for="chk">&#9776;</label>
      <input type="checkbox" class="chk" name="chk" id="chk">
      <ul class="navebar-tel-tab--navigation">
        <li> <%= link_to translate("home"),root_path %></li>
        <li> <%= link_to translate("signup"),new_user_path %></li>

      </ul>
    </nav>
  </header>

  <main>
    <section class="cadre">

      <div class="text--center">
          <h1 class="gamma"><%=translate("login") %></h1>
      </div>
      <%= form_tag(sessions_path) do %>
      <% unless(flash[:alert].nil?) %>
        <div class="alert alert-danger" role="alert">
          <% flash.each do |name,message| %>
            <!-- display the "message" div once per message and ensure that flash[:name] is used as a dynamic CSS class -->
            <div class="<%= name %> flash_name"><%= message %></div>
          </div>
        <% end %>
      <% end %>
        <div class="input-group">

          <%= email_field_tag :mail,nil, class: 'input-group__field', placeholder: 'e.g. kanj@.com' %>

        </div>
        <div class="input-group">

          <%= password_field_tag :password,nil,class: 'input-group__field' %>
        </div>
        <p> <%= link_to "forgotten password?",new_password_reset_path  %></p>
      
        <div class="prompt">

          <%= submit_tag 'Log in', class: "btn btn--primary prompt__confirm" %>
        </div>
        <% end %>
    </section>
  </main>




</body>

</html>
