<!--
===================
=========== block block
===================
-->

<body>

  <!--
===================
=========== block header
===================
-->
  <header>

    <!--
  ===================
  =========== block navigation bar telephone/tablet
  ===================
  -->
    <nav class="navebar-tel-tab">
      <label class="label-chk" for="chk">&#9776;</label>
      <input type="checkbox" class="chk" name="chk" id="chk">
      <ul class="navebar-tel-tab--navigation">
        <li> <%= link_to(translate("latest"),songs_path) %> </li>
        <li> <%= link_to(translate("release"),albums_path) %> </li>
        <li> <%= link_to(translate("artist"),artists_path,class: "active") %></li>
        <li> <%= link_to(translate("event"),agendas_path) %> </li>
        <% if onlyadmincanedit?  %>
        <li> <%= link_to("admin", admin_artists_path) %> </li>
        <% end %>
      </ul>
    </nav>

    <!--
  ===================
  =========== block navigation bar laptop
  ===================
  -->
    <nav class="navebar_presentation">
      <div class="bloc_logo">
        <%= link_to(root_path) do %>
          <%= image_tag("logo.svg",class: "logo", alt: "logo nubian") %>
         <% end %>
      </div>
      <ul class="main-navigation">
        <li> <%= link_to(translate("latest"),songs_path) %> </li>
        <li> <%= link_to(translate("release"),albums_path) %> </li>
        <li> <%= link_to(translate("artist"),artists_path,class: "active") %></li>
        <li> <%= link_to(translate("event"),agendas_path) %> </li>
        <% if onlyadmincanedit?  %>
        <li> <%= link_to("admin", admin_artists_path) %> </li>
        <% end %>
      </ul>

    </nav>
  </header>

  <!--
===================
=========== list artistes
===================
-->
  <h1 class="number_artise"> <%= translate("nbrartiste") %> (<%= @artists.length %>)</h1>
  <div class="bloc_menu" id="bloc_menu">
    <ul class="menu_artiste">
      <% @artists.each  do |artist| %>
      <li> <%= link_to(artist.name,artist_path(artist),class: "name_artiste",onmouseover: "affiche(this)",onmouseout: "cache(this)") %>
<%= image_tag artist.photo_artist,class: "photo_artiste cache" %>
      </li>
      <% end %>
    </ul>

  </div>


</body>

</html>
