<body>

  <!--
  ===================
  =========== svg icon
  ===================
  -->
  <svg style="display:none;">
    <defs>
      <symbol id="add_black">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </symbol>
      <symbol id="delete_black">
        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </symbol>
    </defs>
  </svg>

  <!--
  ===================
  =========== bloc header document
  ===================
  -->
  <header>

    <!--
    ===================
    =========== navigation bar for telephone/tablet
    ===================
    -->
    <nav class="navebar-tel-tab">
      <label class="label-chk" for="chk">&#9776;</label>
      <input type="checkbox" class="chk" name="chk" id="chk">
      <ul class="navebar-tel-tab--navigation">
        <li> <%= link_to(translate("latest"),songs_path) %> </li>
        <li> <%= link_to(translate("release"),albums_path) %> </li>
        <li> <%= link_to(translate("artist"),artists_path,class: "active") %></li>
        <li> <%= link_to(translate("event"),agendas_path) %> </li>
        <% if onlyadmincanedit?  %>
        <li> <%= link_to("admin", admin_artists_path) %> </li>
        <% end %>
      </ul>
    </nav>

    <!--
    ===================
    =========== bloc navigation bar for laptop
    ===================
    -->
    <nav class="navebar">
        <%= image_tag(@artist.photo_artist, class: "image_background", alt: "image background" ) %>
      <div class="navebar__absolute">
        <div class="bloc_logo">
          <a href="acceuil.html">
            <%= image_tag("logo.svg", class: "logo", alt: "logo nubian") %>
           </a>
        </div>
        <ul class="main-navigation">
          <li> <%= link_to(translate("latest"),songs_path) %> </li>
          <li> <%= link_to(translate("release"),albums_path) %> </li>
          <li> <%= link_to(translate("artist"),artists_path,class: "active") %></li>
          <li> <%= link_to(translate("event"),agendas_path) %> </li>
          <li> <%= link_to("wichlists", user_wichlists_path(current_user)) %> </li>
          <% if onlyadmincanedit?  %>
          <li> <%= link_to("admin", admin_artists_path) %> </li>
          <% end %>

        </ul>
      </div>
    </nav>
  </header>

  <!--
  ===================
  =========== bloc content for to make border left and right
  ===================
  -->
  <div class="content">

    <!--
    ===================
    =========== biographie artiste
    ===================
    -->
    <h1> Biography </h1>
    <hr>
    <div class="description__artiste">

      <%= image_tag(@artist.photo_artist, class: "description__artiste--img ", alt: "image goal" ) %>
      <div class="description__paragraphe">
        <p class="home__paragraphe "> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <!--
      ===================
      ===========  Track
      ===================
      -->
    <h1 id="track"> Tracks </h1>
    <div class="track ">
      <div class="track-card">
        <div class="track-card--image">
          <%= image_tag(@artist.photo_artist, alt: "image goal" ) %>
        </div>

      </div>
      <div class="playlist">
        <table class="playlist__media">
          <tr>
            <th>#</th>
            <td class="playlist__piste">Play</td>
            <th>Track</th>
          </tr>
          <% i = 0 %>
          <% @songs.each do |song|  %>
          <tr class="playlist__media--line">
            <td class="playlist__piste"> piste<%=i %></td>
            <td class="playlist__piste"><button onclick="play('sound<%= i %>', this)">Play</button></td>
            <th class="playlist__name_music"><%= song.name  %></th>
          </tr>
          <% i= i + 1 %>
          <% end %>
        </table>
      </div>
    </div>

    <!--
      ===================
      ===========  video artiste
      ===================
      -->
    <h1> Video </h1>
    <hr>
    <div class="video-artite">
      <% @songs.each do |song|  %>
      <% if song.video_url.present? %>
      <%= song.video_url.html_safe  %>
      <% end %>
      <% end %>

    </div>

    <!--
      ===================
      ===========  ADD Comment
      ===================
      -->
    <h1> Comments </h1>
    <hr>
    <%= form_for([@artist, @artist.comments.build],html: {id: "form_comment",class: "add_comments" },remote: true) do |form| %>
      <%=image_tag(@artist.photo_artist, class: "profil--img", alt: "image artiste" ) %>
        <%=form.text_area(:body, class: 'form-input') %>
      <%= form.submit  class: 'btn btn-primary' %>
  <% end %>


    <!--
      ===================
      ===========  commentaires
      ===================
      -->
    <div class="comments" id="comments">

    <% @artist.comments.order(created_at: :asc).each do |comment| %>
      <%= image_tag(comment.user.profil_img, class: "profil--img", alt: "image artiste" ) %>
      <span class="auteur"> <%= comment.user.name %> </span>
      <span class="date"> <%= comment.created_at.strftime("%d %b %y at %I:%M") %></span>
      <p class="comments__paragraphe">
        <%= comment.body %>
      </p>
      <% end %>
    </div>


    <!--
      ===================
      ===========  sound audio
      ===================
      -->
        <% i = 0 %>
        <% @songs.each do |song|  %>
    <audio class="sound" id="sound<%= i %>" ontimeupdate="update(this)">
      <source src=<%= song.audio_url %>>
    </audio>
<% i= i + 1 %>
  <% end %>

    <!-- ===================
            ===========  end content
            ===================
            -->
          </div>
          <div>
            <div class="progressBarControl__loadingControl" id="progressBarControl__loadingControl" onclick="clickProgress(window.currentPlay,this,event)">
              <div class="progressBarControl__loading" id="progressBarControl__loading"> </div>
            </div>
            <div class="bloc_close_btn">
              <button class="btn" id="btn" type="button" name="button" onclick="closebar()">CLOSE</button>
            </div>
          </div>


  <!--
  ===================
  ===========
bloc footer
  ===================
  -->
  <footer class="footer footer--artist">

    <ul class="footer__main">
      <li> <a href="#">
          <h3>Social Networks </h3>
        </a>
      </li>
      <li> <%= link_to("facebook",@artist.url_facebook) %> </li>
      <li> <%= link_to("instagramme",@artist.url_instagram) %> </li>
      <li> <a href="#">autres </a> </li>
    </ul>

    <ul class="footer__main">
      <li> <h3> Language </h3></li>
      <li>
      <% I18n.available_locales.each do |locale| %>
        <%= link_to(locale,url_for(locale: locale),class:"nav-link") %> <br>
      <% end %>
</li>
    </ul>

  </footer>


</body>

</html>
