<body onselectstart="return false" oncontextmenu="return false" ondragstart="return false" onMouseOver="window.status='..message perso .. '; return true;" >

  <!--
  ===================
  =========== svg icon
  ===================
  -->
  <svg style="display:none;">
    <defs>
      <symbol id="add_black">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </symbol>
      <symbol id="delete_black">
        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </symbol>
    </defs>
  </svg>
  <!--
  ===================
  =========== navigation bar for telephone/tablet
  ===================
  -->
  <nav class="navebar-tel-tab">
    <label class="label-chk" for="chk">&#9776;</label>
    <input type="checkbox" class="chk" name="chk" id="chk">
    <ul class="navebar-tel-tab--navigation">
      <li> <%= link_to translate("home"),root_path %></li>
      <li> <%= link_to(translate("latest"),songs_path) %> </li>
      <li> <%= link_to(translate("release"),albums_path) %> </li>
      <li> <%= link_to(translate("artist"),artists_path,class: "active") %></li>
      <li> <%= link_to(translate("event"),agendas_path) %> </li>
      <% if login?  %>
      <li> <%= link_to(translate("follower"), user_wichlists_path(current_user)) %> </li>
      <li> <%= link_to translate("profil"), edit_user_path(current_user) %> </li>
      <li> <%= link_to translate("logout"), session_path(current_user),method: :delete %> </li>
      <% end %>
      <% if onlyadmincanedit?  %>
      <li> <%= link_to("admin", admin_artists_path) %> </li>
      <% end %>
      <% I18n.available_locales.each do |locale| %>
      <li>  <%= link_to(locale,url_for(locale: locale),class:"nav-link") %> </li>
      <% end %>
    </ul>
  </nav>

  <!--
  ===================
  =========== bloc header document
  ===================
  -->
  <header style='background-image: url("<%=@artist.photo_artist %>");background-size:cover;background-attachment: fixed;' class="bloc_imagebackground">



    <!--
    ===================
    =========== bloc navigation bar for laptop
    ===================
    -->

    <nav class="navebar">

      <div class="navebar__absolute navebar_presentation navebar_presentation--artist ">
        <div class="bloc_logo">
          <%= link_to(root_path) do %>
            <%= image_tag("logo.svg",class: "logo", alt: "logo nubian") %>
           <% end %>
        </div>
        <ul class="main-navigation">
          <li> <%= link_to(translate("latest"),songs_path) %> </li>
          <li> <%= link_to(translate("release"),albums_path) %> </li>
          <li> <%= link_to(translate("artist"),artists_path,class: "active") %></li>
          <li> <%= link_to(translate("event"),agendas_path) %> </li>
          <% if login?  %>
          <li> <%= link_to(translate("follower"), user_wichlists_path(current_user)) %> </li>
          <li> <%= link_to translate("profil"), edit_user_path(current_user) %> </li>
          <li> <%= link_to translate("logout"), session_path(current_user),method: :delete %> </li>
          <% end %>
          <% if onlyadmincanedit?  %>
          <li> <%= link_to("admin", admin_artists_path) %> </li>
          <% end %>
          <% I18n.available_locales.each do |locale| %>
          <li>  <%= link_to(locale,url_for(locale: locale),class:"nav-link") %> </li>
          <% end %>
        </ul>
      </div>
    </nav>

  </header>

  <!--
  ===================
  =========== bloc content for to make border left and right
  ===================
  -->
  <div class="content content--artiste">

    <!--
    ===================
    =========== biographie artiste
    ===================
    -->
    <h1> Biography </h1>

    <div class="description__artiste">
      <div class="description__paragraphe">
        <p class="home__paragraphe "> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <ul class="main-navigation">
          <%= link_to("facebook",@artist.url_facebook) %> </li>
         <%= link_to("instagramme",@artist.mail) %>
         </ul>
      </div>
    </div>

    <!--
      ===================
      ===========  Track
      ===================
      -->
    <h1 id="track"> Tracks </h1>
    <div class="track ">
      <div class="track-card">
        <div class="track-card--image">
          <%= image_tag(@artist.photo_artist, alt: "image goal" ) %>
        </div>

      </div>
      <div class="playlist">
        <table class="playlist__media">
          <tr>
            <th>#</th>
            <td class="playlist__piste">Play</td>
            <th>Track</th>
          </tr>
          <% i = 0 %>
          <% @songs.each do |song|  %>
          <tr class="playlist__media--line">
            <td class="playlist__piste"> piste<%=i %></td>
            <td class="playlist__piste"><button onclick="play('sound<%= i %>', this)">Play</button></td>
            <th class="playlist__name_music"><%= song.name  %></th>
          </tr>
          <% i= i + 1 %>
          <% end %>
        </table>
      </div>
    </div>

    <!--
      ===================
      ===========  video artiste
      ===================
      -->
    <h1> Video </h1>

    <div class="video-artite">
      <% @songs.each do |song|  %>
      <% if song.video_url.present? %>
      <%= song.video_url.html_safe  %>
      <% end %>
      <% end %>

    </div>

    <!--
      ===================
      ===========  ADD Comment
      ===================
      -->
      <h1> Comments </h1>
      <% if login? %>
      <div class="div_comments">

    <%= form_for([@artist, @artist.comments.build],html: {id: "form_comment",class: "add_comments"},remote: true) do |form| %>
      <%=image_tag(current_user.profil_img, class: "profil--img", alt: "image artiste" ) %>
        <%=form.text_area(:body, class: 'form-input',id: 'form-input',maxlength: 200) %>
      <%= form.submit  class: 'btn btn-primary' %>
  <% end %>
</div>
  <% end %>
    <!--
      ===================
      ===========  commentaires
      ===================
      -->
    <div class="comments" id="comments">

    <% @artist.comments.order(created_at: :asc).each do |comment| %>
    <div id=<%=comment.id %>>
      <%= image_tag(comment.user.profil_img, class: "profil--img", alt: "image artiste" ) %>
      <span class="auteur"> <%= comment.user.name %> </span>
      <span class="date"> <%= comment.created_at.strftime("%d %b %y at %I:%M") %></span>
      <p class="comments__paragraphe">
        <%= comment.body %>
      </p>
      <div class="card-button">
        <% if current_user == comment.user  %>
          <%= link_to 'Delete', artist_comment_path(current_user,comment.id), class: 'btn btn--wichlist dashbord_btn', role: 'button',method: :delete, remote: true %>
<% end %>
      </div>
        </div>
      <% end %>
    </div>




    <!-- ===================
            ===========  end content
            ===================
            -->
          </div>
          <div>
            <div class="progressBarControl__loadingControl" id="progressBarControl__loadingControl" onclick="clickProgress(window.currentPlay,this,event)">
              <span class="progressBarControl__loadingControl--artist"><%= @artist.name %> </span>
              <!--
                ===================
                ===========  sound audio
                ===================
                -->
                  <% i = 0 %>
                  <% @songs.each do |song|  %>
              <audio class="sound" id="sound<%= i %>" ontimeupdate="update(this)">
                <source src=<%= song.audio_url %>>

              </audio>
            <span class="progressBarControl__loadingControl--song" id="loadingControlsound<%= i %>" style="display:none"> <%= song.name %> </span>
          <% i= i + 1 %>
            <% end %>
              <div class="progressBarControl__loading" id="progressBarControl__loading"> </div>
            </div>
            <div class="bloc_close_btn" onclick= "closebar()">

            &times
            </div>
          </div>





</body>

</html>
