


  <!--
===================
=========== block body document
===================
-->

  <body class="acceuil">

    <!--
    ===================
    =========== bloc header document
    ===================
    -->
    <header>
<%= video_tag "vid.mp4", autoplay: true,class:"home_video" %>
      <!--
      ===================
      =========== bloc navigation bar for telephone/tablet
      ===================
      -->
      <nav class="navebar-tel-tab">
        <label class="label-chk" for="chk"> &#9776; </label>
        <input class="chk" id="chk" name="chk" type="checkbox">
        <ul class="navebar-tel-tab--navigation">
          <li> <%= link_to("LATEST",songs_path) %> </li>
          <li> <%= link_to("LOG IN",new_session_path)  %>  </li>
        </ul>
      </nav>

      <!--
      ===================
      =========== bloc navigation bar for laptope
      ===================
      -->
      <nav class="navebar">
        <div class="navebar__absolute">
          <div class="bloc_logo">
            <a href="#">
            <%= image_tag("logo.svg", class: "logo", alt: "logo nubian") %> </a>
          </div>
          <ul class="main-navigation">
            <li class="main-navigation__li"> <%= link_to("LOG IN",new_session_path)  %> </li>
            <li class="main-navigation__li"> <%= link_to("LATEST",songs_path) %> </li>
          </ul>
        </div>
      </nav>
    </header>

    <!--
    ===================
    ===========
explanation concepts nubian spirit
    ===================
    -->

    <section class="description ">
      <h1 class="reveal__1 reveal_visible"> Nubian Spirit</h1>
      <div class=" description__paragraphe">
        <p class="home__paragraphe description__paragraphe--white reveal__4 reveal_visible"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>

    <!--
    ===================
    ===========
  biography of creator of nubian spirit
    ===================
    -->
    <div class="description__artiste" title="description artiste">
      <%= image_tag("art5.jpg", class: "description__artiste--img reveal__2 reveal_visible", alt: "image artiste") %>
      <div class="description__paragraphe">
        <p class="home__paragraphe description__paragraphe--black reveal__3 reveal_visible"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="description__artiste">
        <%= image_tag("art6.jpg", class: "description__artiste--img reveal__2 reveal_visible", alt: "image artiste") %>
      <div class="description__paragraphe reveal_visible">
        <p class="home__paragraphe description__paragraphe--black reveal__3 reveal_visible"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="description__artiste">
      <%= image_tag("art6.jpg", class: "description__artiste--img reveal__2 reveal_visible", alt: "image artiste") %>
      <div class="description__paragraphe reveal_visible">
        <p class="home__paragraphe description__paragraphe--black reveal__3 reveal_visible"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

    </div>


    <!--
    ===================
    ===========
  bloc footer
    ===================
    -->
    <footer class="footer">
      <ul class="footer__main">
        <li> <a href="#">
            <h3>Coordinate </h3>
          </a> </li>
        <li> <a href="#">2 allée du Niger Giacomo A 1016 31000 Toulouse
          </a> </li>
        <li> <a href="#"> 06 23 97 31 62 </a>
        </li>
        <li> <a href="#"> contact@xavierthevenot.com </a> onkeyup=""</li>
      </ul>
      <ul class="footer__main">
        <li> <a href="#">
            <h3>Social Networks </h3>
          </a>
        </li>
        <li> <a href="#">facebook </a> </li>
        <li> <a href="#"> instagramme </a> </li>
        <li> <a href="#">autres </a> </li>
      </ul>

    </footer>


  </body>

</html>
