

  <!--
===================
=========== block block
===================
-->


  <body class="body__song" onselectstart="return false" oncontextmenu="return false" ondragstart="return false" onMouseOver="window.status='..message perso .. '; return true;">
    <!--
  ===================
  =========== block header
  ===================
  -->
    <header>

      <!--
    ===================
    =========== block navigation bar telephone/tablet
    ===================
    -->
      <nav class="navebar-tel-tab">
        <label class="label-chk" for="chk">&#9776;</label>
        <input type="checkbox" class="chk" name="chk" id="chk">
        <ul class="navebar-tel-tab--navigation">
          <li> <%= link_to translate("home"),root_path %></li>
          <li> <%= link_to(translate("latest"),songs_path,class: "active") %> </li>
          <li> <%= link_to(translate("release"),albums_path) %> </li>
          <li> <%= link_to(translate("artist"),artists_path) %></li>
          <li> <%= link_to(translate("event"),agendas_path) %> </li>
          <% if login?  %>
          <li> <%= link_to(translate("follower"), user_wichlists_path(current_user)) %> </li>
          <li> <%= link_to translate("profil"), edit_user_path(current_user) %> </li>
          <li> <%= link_to translate("logout"), session_path(current_user),method: :delete %> </li>
          <% end %>
          <% if onlyadmincanedit?  %>
          <li> <%= link_to("admin", admin_artists_path) %> </li>
          <% end %>
          <% I18n.available_locales.each do |locale| %>
          <li>  <%= link_to(locale,url_for(locale: locale),class:"nav-link") %> </li>
          <% end %>
        </ul>
      </nav>

      <!--
    ===================
    =========== block navigation bar laptop
    ===================
    -->
      <nav class="navebar_presentation">
        <div class="bloc_logo">
          <%= link_to(root_path) do %>
            <%= image_tag("logo.svg",class: "logo", alt: "logo nubian") %>
           <% end %>
        </div>
        <ul class="main-navigation">
          <li> <%= link_to(translate("latest"),songs_path,class: "active") %> </li>
          <li> <%= link_to(translate("release"),albums_path) %> </li>
          <li> <%= link_to(translate("artist"),artists_path) %></li>
          <li> <%= link_to(translate("event"),agendas_path) %> </li>
          <% if login?  %>
          <li> <%= link_to(translate("follower"), user_wichlists_path(current_user)) %> </li>
          <li> <%= link_to translate("profil"), edit_user_path(current_user) %> </li>
          <li> <%= link_to translate("logout"), session_path(current_user),method: :delete %> </li>
          <% end %>
          <% if onlyadmincanedit?  %>
          <li> <%= link_to("admin", admin_artists_path) %> </li>
          <% end %>
          <% I18n.available_locales.each do |locale| %>
          <li>  <%= link_to(locale,url_for(locale: locale),class:"nav-link") %> </li>
          <% end %>
        </ul>

      </nav>
    </header>
    <h1> <%=translate("recentsoundandvideo")%> </h1>
    <hr>
    <!--
  ===================
  =========== block content for border left and right
  ===================
  -->

    <div class="content" id="content">

      <!--
    ===================
    =========== list most recent sound
    ===================
    -->


      <div class="card-presentation" id="card-presentation">
        <% i = 0 %>
        <% @song.each  do |song| %>
        <div class="info-and-card ">
          <div class="info">
            <h3 class=""> <%= song.title %> </h3>
            <span class=""><%= song.name %> </span>
          </div>
          <div class="card">
          <%= image_tag(song.photo_song,alt: "image card presentation")  %>
          </div>
          <div class="card-presentation__hover" style= "display: block">
            <button onclick="play('sound<%= i %>', this)">Play</button>
          </div>

        </div>
        <div class="bloc-video">

          <% if song.video_url.present? %>
        <%=song.video_url.html_safe %>
        <% end %>
        </div>
<% i= i + 1 %>
          <% end %>


      </div>


      <div class="see-more see-more--song">
        <%=paginate @song %>
      </div>


      <!-- ===================
              ===========  end content
              ===================
              -->
            </div>
            <div>
              <div class="progressBarControl__loadingControl" id="progressBarControl__loadingControl" onclick="clickProgress(window.currentPlay,this,event)">
                <!--
                  ===================
                  ===========  sound audio
                  ===================
                  -->
                  <% i = 0 %>
                  <% @song.each do |song|  %>
              <audio class="sound" id="sound<%= i %>" ontimeupdate="update(this)">
                <source src=<%= song.audio_url %>>

              </audio>
            <span class="progressBarControl__loadingControl--song" id="loadingControlsound<%= i %>" style="display:none"> <%= song.name %> </span>
          <% i= i + 1 %>
            <% end %>
                <div class="progressBarControl__loading" id="progressBarControl__loading"> </div>
              </div>
              <div class="bloc_close_btn" onclick= "closebar()">

              &times
              </div>
            </div>

  </body>

</html>
