<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,700i,900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title> Nubian Spirit</title>
  </head>

  <!--
===================
=========== block body document
===================
-->

  <body class="events">

    <!--
  ===================
  =========== block header
  ===================
  -->
    <header>

      <!--
    ===================
    =========== block navigation bar tablet/telephone
    ===================
    -->
      <nav class="navebar-tel-tab">
        <label class="label-chk" for="chk">&#9776;</label>
        <input type="checkbox" class="chk" name="chk" id="chk">
        <ul class="navebar-tel-tab--navigation">
          <li> <%= link_to(translate("latest"),songs_path) %> </li>
          <li> <%= link_to(translate("release"),albums_path) %> </li>
          <li> <%= link_to(translate("artist"),artists_path) %></li>
          <li> <%= link_to(translate("event"),agendas_path,class: "active") %> </li>
          <li> <a href="whish.html">WHICH LIST </a></li>
          <% if onlyadmincanedit?  %>
          <li> <%= link_to("admin", admin_artists_path) %> </li>
          <% end %>
        </ul>
      </nav>

      <!--
    ===================
    =========== block navigation bar laptop
    ===================
    -->
      <nav class="navebar_presentation">
        <div class="bloc_logo">
          <%= link_to(root_path) do %>
            <%= image_tag("logo.svg",class: "logo", alt: "logo nubian") %>
           <% end %>
        </div>
        <ul class="main-navigation">
          <li> <%= link_to(translate("latest"),songs_path) %> </li>
          <li> <%= link_to(translate("release"),albums_path) %> </li>
          <li> <%= link_to(translate("artist"),artists_path) %></li>
          <li> <%= link_to(translate("event"),agendas_path,class: "active") %> </li>
          <% if onlyadmincanedit?  %>
          <li> <%= link_to("admin", admin_artists_path) %> </li>
          <% end %>
        </ul>
        
      </nav>
    </header>

    <!--
  ===================
  =========== block list Event
  ===================
  -->
    <div class="events--info">
      <h1> <%= translate("allevent") %> (<%= @agendas.length %>)</h1>
    </div>
    <table class="events__table">
      <% @agendas.each do |agenda| %>
      <tr>
        <td> <%= agenda.name %> </td>
        <td> <%= agenda.lieu %> </td>
        <td> <%= agenda.date %> </td>
      </tr>
      <% end %>

    </table>

  </body>

</html>
