<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,700i,900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title> Nubian Spirit</title>
  </head>

  <!--
===================
=========== block block
===================
-->

  <body class="showalbum">

    <!--
  ===================
  =========== block header
  ===================
  -->
    <header>

      <!--
    ===================
    =========== block navigation bar telephone/tablet
    ===================
    -->
      <nav class="navebar-tel-tab">
        <label class="label-chk" for="chk">&#9776;</label>
        <input type="checkbox" class="chk" name="chk" id="chk">
        <ul class="navebar-tel-tab--navigation">
          <li> <%= link_to(translate("latest"),songs_path) %> </li>
          <li> <%= link_to(translate("release"),albums_path,class: "active") %> </li>
          <li> <%= link_to(translate("artist"),artists_path) %></li>
          <li> <%= link_to(translate("event"),agendas_path) %> </li>
          <% if login?  %>
          <li> <%= link_to(translate("follower"), user_wichlists_path(current_user)) %> </li>
          <% end %>
          <% if onlyadmincanedit?  %>
          <li> <%= link_to("admin", admin_artists_path) %> </li>
          <% end %>
          <% I18n.available_locales.each do |locale| %>
          <li>  <%= link_to(locale,url_for(locale: locale),class:"nav-link") %> </li>
          <% end %>
        </ul>
      </nav>

      <!--
    ===================
    =========== block navigation bar laptop
    ===================
    -->
      <nav class="navebar_presentation">
        <div class="bloc_logo">
          <%= link_to(root_path) do %>
            <%= image_tag("logo.svg",class: "logo", alt: "logo nubian") %>
           <% end %>
        </div>
        <ul class="main-navigation">
          <li> <%= link_to(translate("latest"),songs_path) %> </li>
          <li> <%= link_to(translate("release"),albums_path,class: "active") %> </li>
          <li> <%= link_to(translate("artist"),artists_path) %></li>
          <li> <%= link_to(translate("event"),agendas_path) %> </li>
          <% if login?  %>
          <li> <%= link_to(translate("follower"), user_wichlists_path(current_user)) %> </li>
          <% end %>
          <% if onlyadmincanedit?  %>
          <li> <%= link_to("admin", admin_artists_path) %> </li>
          <% end %>
          <% I18n.available_locales.each do |locale| %>
          <li>  <%= link_to(locale,url_for(locale: locale),class:"nav-link") %> </li>
          <% end %>
        </ul>

      </nav>
    </header>

    <!--
  ===================
  =========== block content for border left and right
  ===================
  -->
  <h1> <%= translate("allalbum") %> </h1>
  <hr>
    <div class="content" id="content">

      <!--
    ===================
    =========== Album
    ===================
    -->



      <div class="card-presentation" id="card-presentation">
        <% @album.each  do |album| %>
        <%= link_to album_path(album) do  %>
        <div class="info-and-card ">
          <div class="info">
            <h3 class=""> <%= album.title %> </h3>
            <span class=""><%= album.name %> </span>
          </div>
          <div class="card">
          <%= image_tag(album.photo_album,alt: "image card presentation")  %>
          </div>
          <div class="card-presentation__circle">

          </div>
        </div>
        <% end %>
          <% end %>
      </div>

      <!--
    ===================
    =========== end div content
    ===================
    -->
    </div>



  </body>

</html>
