<body  onselectstart="return false" oncontextmenu="return false" ondragstart="return false" onMouseOver="window.status='..message perso .. '; return true;" >

  <!--
  ===================
  =========== svg icon
  ===================
  -->
  <svg style="display:none;">
    <defs>
      <symbol id="add_black">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </symbol>
      <symbol id="delete_black">
        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </symbol>
    </defs>
  </svg>

  <!--
  ===================
  =========== bloc header document
  ===================
  -->
  <!--
  ===================
  =========== navigation bar for telephone/tablet
  ===================
  -->
  <nav class="navebar-tel-tab">
    <label class="label-chk" for="chk">&#9776;</label>
    <input type="checkbox" class="chk" name="chk" id="chk">
    <ul class="navebar-tel-tab--navigation">
      <li> <%= link_to translate("home"),root_path %></li>
      <li> <%= link_to(translate("latest"),songs_path) %> </li>
      <li> <%= link_to(translate("release"),albums_path,class: "active") %> </li>
      <li> <%= link_to(translate("artist"),artists_path) %></li>
      <li> <%= link_to(translate("event"),agendas_path) %> </li>
      <% if login?  %>
      <li> <%= link_to(translate("follower"), user_wichlists_path(current_user)) %> </li>
        <li> <%= link_to translate("profil"), edit_user_path(current_user) %> </li>
      <li> <%= link_to translate("logout"), session_path(current_user),method: :delete %> </li>
      <% end %>
      <% if onlyadmincanedit?  %>
      <li> <%= link_to("admin", admin_artists_path) %> </li>
      <% end %>
    </ul>
  </nav>
  <header style='background-image: url("<%=@album.photo_album %>");background-size:cover;background-attachment: fixed;' class="bloc_imagebackground">



    <!--
    ===================
    =========== bloc navigation bar for laptop
    ===================
    -->
    <nav class="navebar">

      <div class="navebar__absolute">
        <div class="bloc_logo">
          <%= link_to(root_path) do %>
            <%= image_tag("logo.svg",class: "logo", alt: "logo nubian") %>
           <% end %>
        </div>
        <ul class="main-navigation">
          <li> <%= link_to(translate("latest"),songs_path) %> </li>
          <li> <%= link_to(translate("release"),albums_path,class: "active") %> </li>
          <li> <%= link_to(translate("artist"),artists_path) %></li>
          <li> <%= link_to(translate("event"),agendas_path) %> </li>
          <% if login?  %>
          <li> <%= link_to(translate("follower"), user_wichlists_path(current_user)) %> </li>
          <li> <%= link_to translate("profil"), edit_user_path(current_user) %> </li>
        <li> <%= link_to translate("logout"), session_path(current_user),method: :delete %> </li>
          <% end %>
          <% if onlyadmincanedit?  %>
          <li> <%= link_to("admin", admin_artists_path) %> </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

  <!--
  ===================
  =========== bloc content for to make border left and right
  ===================
  -->
  <div class="content content--artiste">



    <!--
      ===================
      ===========  Track
      ===================
      -->
    <h1 id="track"> Tracks </h1>
    <div class="track ">
      <div class="track-card">
        <div class="track-card--image">
          <%= image_tag(@album.photo_album, alt: "image goal" ) %>
          <% if login? %>
          <div class="card-button">
            <%= form_tag(user_wichlists_path(current_user), method: :post) do %>
         <%= hidden_field_tag(:album_id, @album.id) %>

              <%= submit_tag("ADD Album",class: "btn btn--svg btn--album ", disabled: @disable )%>
              </div>
              <% end %>
              <% end %>
          </div>
</div>


      <div class="playlist playlist--album">
        <table class="playlist__media">
          <tr>
            <th>#</th>
            <td class="playlist__piste">Play</td>
            <th>Track</th>
          </tr>
          <% i = 0 %>
          <% @songs.each do |song|  %>
          <tr class="playlist__media--line">
            <td class="playlist__piste"> piste<%=i %></td>
            <td class="playlist__piste"><button onclick="play('sound<%= i %>', this)">Play</button></td>
            <th class="playlist__name_music"><%= song.name  %></th>
          </tr>
          <% i= i + 1 %>
          <% end %>
        </table>
      </div>
    </div>


    <!--
      ===================
      ===========  video artiste
      ===================
      -->
    <h1> Video </h1>
    <hr>
    <div class="video-artite">
      <% @songs.each do |song|  %>
      <% if song.video_url.present? %>
      <%= song.video_url.html_safe  %>
      <% end %>
      <% end %>
    </div>


    <div class="progressBarControl__loadingControl" id="progressBarControl__loadingControl" onclick="clickProgress(window.currentPlay,this,event)">
      <span class="progressBarControl__loadingControl--artist"> </span>
      <!--
        ===================
        ===========  sound audio
        ===================
        -->
          <% i = 0 %>
          <% @songs.each do |song|  %>
      <audio class="sound" id="sound<%= i %>" ontimeupdate="update(this)">
        <source src=<%= song.audio_url %>>

      </audio>
    <span class="progressBarControl__loadingControl--song" id="loadingControlsound<%= i %>" style="display:none"> <%= song.name %> </span>
  <% i= i + 1 %>
    <% end %>
      <div class="progressBarControl__loading" id="progressBarControl__loading">
       </div>

    <div class="bloc_close_btn" onclick= "closebar()">

    &times
    </div>
  </div>
  </div>



</body>

</html>
