<%= form_for(album) do |form| %>
  <% if album.errors.any? %>
    <%= render partial: 'model_errors', locals: { model: album } %>
  <% end %>
<div class="input-group" id="bloc-name">
  <%= form.label :Name, class: 'input-group__label' %>
    <%= form.text_field :name, class: 'input-group__field', placeholder: 'name album' %>
</div>

<div class="input-group" id="bloc-name">
  <%= form.label :Title, class: 'input-group__label' %>
    <%= form.text_field :title, class: 'input-group__field', placeholder: 'title album' %>
</div>

<div class="input-group" id="bloc-name">
  <%= form.label :Comment, class: 'input-group__label' %>
    <%= form.text_area :body, class: 'input-group__field', placeholder: 'comment album' %>
</div>

<div class="input-group" id="bloc-file">

  <%= form.label :Photo, class: 'input-group__label' %>
  <%= form.file_field :photo_album, class: "input-group__field" ,id: "img_profil" %>
</div>

<%= fields_for(song_album) do |ab| %>
<div class="input-group" id="bloc-name">
  <%= ab.label "All Song" %><br />
  <%= collection_select(:song, :id, song, :id,  :name, {}, {:multiple => true})%>
</div>
<% end %>
<div class="prompt">

   <%= form.submit class: "btn btn--primary prompt__confirm" %>
</div>
<% end %>
