<%= form_for(artist) do |form| %>
  <% if artist.errors.any? %>
    <%= render partial: 'model_errors', locals: { model: artist } %>
  <% end %>
<div class="input-group" id="bloc-name">
  <%= form.label :Name, class: 'input-group__label' %>
    <%= form.text_field :name, class: 'input-group__field', placeholder: 'name artist', id: "name" %>
</div>

<div class="input-group" id="bloc-name">
  <%= form.label :Bibliographie, class: 'input-group__label' %>
    <%= form.text_area :bibliographie, class: 'input-group__field', placeholder: 'bibliographie', id: "name" %>
</div>

<div class="input-group" id="bloc-name">
  <%= form.label :Url_facebook, class: 'input-group__label' %>
    <%= form.text_field :url_facebook, class: 'input-group__field', placeholder: 'http/:...' %>
</div>

<div class="input-group" id="bloc-name">
  <%= form.label :mail, class: 'input-group__label' %>
    <%= form.text_field :mail, class: 'input-group__field', placeholder: "kandji.k66@gmail.com", id: "email" %>
</div>

<div class="input-group" id="bloc-file">

  <%= form.label :Photo, class: 'input-group__label' %>
  <%= form.file_field :photo_artist, class: "input-group__field" ,id: "img_profil" %>
</div>

<%= fields_for(artist_songs) do |ab| %>
<div class="input-group" id="bloc-name">
  <%= ab.label "All Songs" %><br />
  <%= collection_select(:song, :id, song, :id,  :name, {}, {:multiple => true})%>
</div>
<% end %>

<div class="prompt">

   <%= form.submit class: "btn btn--primary prompt__confirm" %>
</div>
<% end %>
