<%= form_for(user) do |form| %>
  <% if user.errors.any? %>
    <%= render partial: 'model_errors', locals: { model: user } %>
  <% end %>
<div class="input-group" id="bloc-name">
  <%= form.label :name, class: 'input-group__label' %>
    <%= form.text_field :name, class: 'input-group__field', placeholder: 'your name', id: "name" %>
</div>
<div class="input-group" id="bloc-email">

  <%= form.label :mail, class: 'input-group__label' %>

  <%= form.text_field :mail, class: 'input-group__field', placeholder: "name@mail.com", id: "email" %>
</div>
<div class="input-group" id="bloc-password">
  <%= form.label :password, class: 'input-group__label' %>

  <%= form.password_field :password, class: 'input-group__field', placeholder: "********" ,id: "password" %>
</div>

<div class="input-group" id="bloc-file">

  <%= form.label :profil_img, class: 'input-group__label' %>
  <%= form.file_field :profil_img, class: "input-group__field" ,id: "img_profil" %>
</div>
<div class="prompt">

   <%= form.submit  class: "btn btn--primary prompt__confirm" %>
</div>
<% end %>
